[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
pydantic = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqladmin = "*"
web3 = ">=5.0.0"
sha3 = "*"
eth-utils = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.10"
